<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Aluguel</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="sortcut icon" href="/icon/book.ico" type="image/x-icon"/>
    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Adicionar aluguel</h1>
        <div th:insert="menu/header :: header"></div>
    </div>

    <h4>
        Novo aluguel
    </h4>

    <form th:action="@{/usuarios/{usuarioId}/alugueis/salvar(usuarioId=${usuarioId})}"
          th:object="${aluguel}"
          th:method="${aluguel.id} == 0 ? post : put">

        <div th:if="${aluguel.id != 0}">
            <input type="hidden" name="_method" value="put">
        </div>

        <div th:if="${mensagemerro != null}" class="alert alert-danger" role="alert">
            <span th:text="${mensagemerro}">Erro:</span>
        </div>

        <div class="row">

            <div class="form-group col-md-4">
                <label for="livro">Nome do livro:</label>
                <select class="custom-select mr-sm-2" th:field="*{livro.id}" required th:disabled="${aluguel.id != 0}">
                    <option value="0" selected>Selecione o livro</option>
                    <option value="0" th:if="${#lists.isEmpty(livros)}" selected>Não há livros cadastrados</option>
                    <option id="livro" th:value="${livro.id}" th:each="livro : ${livros}"
                            th:text="${livro.nome} + ' - Editora ' +  ${livro.editora.nome}"/>
                </select>
                <!--<select class="custom-select mr-sm-2" th:field="*{livro.id}" required th:if="${aluguel.id == 0}">
                    <option value="0" selected>Selecione o livro</option>
                    <option value="0" th:if="${#lists.isEmpty(livros)}" selected>Não há livros cadastrados</option>
                    <option id="livro" th:value ="${livro.id}" th:each="livro : ${livros}"
                            th:text="${livro.nome} + ' - Editora ' +  ${livro.editora.nome}"/>
                </select>-->
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('livro')}"
                     th:errors="*{livro}"></div>
            </div>

            <div class="form-group col-md-4">
                <label for="dataAluguel">Data do aluguel:</label>
                <input th:disabled="${status == 1}" required="on" class="form-control" id="dataAluguel" type="date"
                       th:field="*{dataAluguel}"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dataAluguel')}"
                     th:errors="*{dataAluguel}"></div>
            </div>

            <div class="form-group col-md-4">
                <label for="prevDataDevolucao">Data de previsão da devolução:</label>
                <input th:disabled="${status == 1}" required="on" class="form-control" id="prevDataDevolucao" type="date"
                       th:field="*{prevDataDevolucao}"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('prevDataDevolucao')}"
                     th:errors="*{prevDataDevolucao}"></div>
            </div>
            <input id="id" type="hidden" th:field="*{id}"/>

            <div class="form-group col-md-4" th:if="${status == 1}">
                <label for="dataDevolucao">Data da devolução:</label>
                <input required class="form-control" id="dataDevolucao" type="date" th:field="*{dataDevolucao}"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('dataDevolucao')}"
                     th:errors="*{dataDevolucao}"></div>
                <input type="hidden" th:field="*{livro.id}"/>
                <input type="hidden" th:field="*{dataAluguel}"/>
                <input type="hidden" th:field="*{dataDevolucao}"/>
                <input type="hidden" th:field="*{prevDataDevolucao}"/>
            </div>
            <input type="hidden" th:field="*{livro.id}"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>

    </form>
    <hr/>

    <a class="btn btn-light" th:href="@{/usuarios/{usuarioId}/alugueis/listar(usuarioId=${usuarioId})}">Voltar</a>

    <hr/>
    <footer class="footer">
        <p>&copy; 2021 Livraria - WDA</p>
    </footer>

</div>
</body>
</html>