<html>
<head>
    <script type="text/javascript"
            src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});

      function drawChart() {

	var data = google.visualization.arrayToDataTable([
          ['Estatistica', 'Numeros'],
          ['Livros entregues atrasados', 1],
          ['Livros entregues no prazo', 2],
          ['Aluguéis em atraso', 3],
          ['Aluguéis teste1', 4],
          ['Aluguéis teste2', 5],
          ['Aluguéis teste3', 6],
          ['Aluguéis teste4', 7],
          ['Aluguéis teste5', 8],
          ['Aluguéis teste6', 9],

        ]);

        var options = {
          		title: 'Estatística aluguéis: ',
                is3D: false,
                pieSliceText: 'value',
        };

        var chart = new google.visualization
        .PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }

	 google.setOnLoadCallback(drawChart);


    </script>
    <title>Estatística</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Estatística</h1>
        <div th:insert="menu/header :: header"></div>
    </div>
    <hr/>
    <div class="row">
        <div id="chart_div" class="col-md-7" style="height: 450px;"></div>
        <div class="col-md-5" style="height: 450px;">
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr style="height: 70px;">
                    <th scope="col" style="background: #ADD8E6;">Total de usuários: </th>
                    <td scope="col">[[${contaU}]]</td>
                </tr>
                <tr style="height: 70px;">
                    <th scope="col" style="background: #ADD8E6;">Total de aluguéis: </th>
                    <td scope="col">[[${contaA}]]</td>
                </tr>
                <tr style="height: 70px;">
                    <th scope="col" style="background: #ADD8E6;">Total de livros: </th>
                    <td scope="col">[[${contaL}]]</td>
                </tr>
                <tr style="height: 70px;">
                    <th scope="col" style="background: #ADD8E6;">Total de editoras: </th>
                    <td scope="col">[[${contaE}]]</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>



    <a class="btn btn-light" href="/home">Voltar</a>
    <hr/>
    <footer class="footer">
        <p>&copy; 2021 Livraria - WDA</p>
    </footer>
</div>
</body>
</html>