<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});

        function desenharPizza (){

            var tabela = new google.visualization.DataTable();
            tabela.addColumn('string','categorias');
            tabela.addColumn('number','valores');
            tabela.addRows([

                ['Livro entregue em atraso', [[${atrasoE}]]],
                ['Livro entregue no prazo', [[${atrasoP}]]],
                ['Aluguel em atraso', [[${emA}]]],
                ['Aluguel no prazo', [[${emP}]]],
            ]);

            var grafico = new google.visualization.PieChart(document.getElementById('graficoPizza'));
            grafico.draw(tabela);
    }

    google.charts.setOnLoadCallback(desenharPizza);


    </script>
</head>
<body>
<div id="graficoPizza" class="w-auto p-3"></div>
</body>
</html>