<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        .jumbotron{
            background-color: 	#ADD8E6;
        }
    </style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ADD8E6;" id="navbarToggleExternalContent">
    <a class="navbar-brand" href="/home">
        <img src="/icon/house-black-silhouette-without-door.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Home
    </a>
    <a class="navbar-brand" href="/usuarios/listar">
        Usuários
    </a>
    <a class="navbar-brand" href="/editoras/listar">
        Editoras
    </a>
    <a class="navbar-brand" href="/statistic/view">
        Estátisticas
    </a>
</nav>
</div>