<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Livraria WDA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="icon"
          type="image/svg"
          href="https://www.flaticon.com/svg/vstatic/svg/2917/2917634.svg?token=exp=1615936967~hmac=10068ea0757e5e104ce0522df925d826" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        #testando{
            width: 500px;
            height: 288px;
            margin-bottom: 30px;
        }
        p#teste{
            margin-bottom: 34px;
        }
        div#pracima{
            margin-top: -8px;
        }
        .jumbotron{
            background-color: 	#ADD8E6;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Listagem de dados</h1>
        <p class="lead">
            Visualize os dados e/ou cadastre novos
        </p>

        <div th:insert="menu/header :: header"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" id="testando" src="/imagem/estante-para-livros-1024x768.jpg">
        </div>
        <div class="col-md" id="pracima">
            <h3>Usuários/Alugueis</h3>
            <p>
                Aqui você pode acessar os usuários/alugueis cadastrados ou adicionar novos.
            </p>
            <p id="teste">
                <a class="btn btn-primary" href="/usuarios/listar">Usuarios</a>
            </p>

            <h3>Editoras/Livros</h3>
            <p>
                Aqui você pode acessar as editoras/livros cadastrados ou adicionar novas.
            </p>
            <p>
                <a class="btn btn-primary" href="/editoras/listar">Editoras</a>
            </p>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
    </div>

    <hr/>
    <footer class="footer">
        <p>&copy; 2021 Livraria - WDA</p>
    </footer>
</div>
</body>
</html>