<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript"
            src="https://www.google.com/jsapi"></script>
    <script th:inline="javascript">

      google.load("visualization", "1", {packages:["corechart"]});

      function drawChart() {

	var data = google.visualization.arrayToDataTable([
          ['Linguagem', 'Quando gosto dela'],
          ['Livros entregues atrasados', [[${noA}]]],
          ['Livros entregues no prazo', [[${noP}]]],
          ['Aluguéis em atraso', [[${emA}]]],
          ['Aluguéis no prazo', [[${emP}]]],

        ]);

        var options = {
          		title: 'Estatística aluguéis: ',
		is3D: false,
        };

        var chart = new google.visualization
        .PieChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }

	 google.setOnLoadCallback(drawChart);


    </script>
    <title>Estatística</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Estatística</h1>
        <div th:insert="menu/header :: header"></div>
    </div>
    <hr/>
    <div id="chart_div" class="row"></div>
    <a class="btn btn-light" href="/home">Voltar</a>
    <hr/>
    <footer class="footer">
        <p>&copy; 2021 Livraria - WDA</p>
    </footer>
</div>
</body>
</html>